[submodule "static/js/jekyll-table-of-contents"]
	path = static/js/jekyll-table-of-contents
	url = https://github.com/ghiculescu/jekyll-table-of-contents.git

[submodule "wiki_2"]
	path = wiki_2
	url = https://github.com/sethc23/sethc23.github.io.wiki.git
