---
layout: default
---
<div class="post-area post">
    <header>

        {% if page.title == 'Blog' %}

        <h1>{{ page.title }} <a href="http://wiki.sanspaper.com/_create/1_POSTS/untitled"
        target="_blank"><img style="height: 10px;" 
        src="/static/css/pics/glyphicons/png/glyphicons-edit.png"></a></h1>

        {% else %}

        <h1>{{ page.title }}</h1>

        {% endif %}

    </header>
    <hr>
    <article class="page-content">
        {{ content }}
    </article>
</div>
{% if page.comments %}
    <div class="post-area post comment">
        <!--<div class="ds-thread"-->
        <!--data-thread-key="{{ page.id }}"-->
        <!--data-title="{{ page.title }}"-->
        <!--data-url="{{ site.baseurl }}{{ page.url }}"></div>-->
        {% include disqus.html %}
    </div>
{% endif %}

<!--<div class="post-area post comment">-->
    <!--&lt;!&ndash; 多说评论框 start &ndash;&gt;-->
    <!---->
    <!--<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>-->
    <!---->
    <!--&lt;!&ndash; 多说评论框 end &ndash;&gt;-->
<!--</div>-->